@import "tailwindcss";

@theme {
  --color-brand-primary: #4F46E5;
  --color-brand-secondary: #7C3AED;
  --color-brand-accent: #F59E0B;
  --color-slate-50: #F8FAFC;
  --color-slate-900: #0F172A;
}

/* Custom scrollbar hiding for mobile feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-color: #F3F4F6;
  overscroll-behavior-y: none;
}